body{
    font-family: Roboto, sans-serif;
    color: #444;
}
.quote-container{
    margin-top: 40px;
}
#timerContainer{
    float: right;
    background-color: darkred;
    padding: 20px;
    color: white;
    border-radius: 0 0 5px 5px;
    position: fixed;
    top: 0;
    right: 10%;
    min-width: 200px;
    z-index:2;
}

.btn-secondary {
    border:0 !important;
}
.light{
    font-weight: 300;
    font-size: 14px;
}
h5{
    font-weight: 300;
    font-size: 16px;
}
h6{
    font-weight: 400;
    font-size: 14px;
}

.red{
    background-color: darkred;
}
.green{
    background-color: darkgreen;
}

.sq{
    color: black;
    text-align: center;
    background-color: #e9ecef;
    border-radius: 5px;
}
.sq-red{
    color: white;

    background-color: rgb(175, 68, 68);
}
.sq-green{
    color: white;

    background-color: rgb(88, 158, 120);
}

#search-gifts{
    display: none;
    width: 100%;
}

#search-gifts > .form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100% !important;
    margin-bottom: 0;
}


#gifts-list ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#gifts-list li{
    padding: 20 0 20px 5px;
    border-left: 5px solid #ddd;
}

#gifts-list li:hover{
    border-color: rgb(88, 158, 120);
}
.price{
    color: black;
    margin-left: 20px;
}

.delete{
    float: right;
    background: rgb(175, 68, 68);
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}
.name{
    margin-left: 8px;
}

.delete:hover{
    background: rgb(88, 158, 120);
}




#add-gift:after{
    content: '';
    display: block;
    clear: both;
}

#add-gift #hide{
    width: 30px;
}

#add-gift label{
    line-height: 52px;
}

#add-gilft-field{
    display: inline;
}


.name::after{
    content: ' ';
}

.price-value::after{
    content: ' €'
}

#divTotal{
    display: inline;
}
#total::after, #totalBudget::after, #leftSpend::after{
    content: ' €';

}






@media screen and (max-width: 768px) {
#timerContainer{
    display: block;
    width: 100%;
    right: 0;
    margin-bottom: 40px;
    border-radius: 0;
}

.jumbotron{
    margin-top: 100px;
}

.input-group>.form-control {
  
    min-width: 80px !important;
}
}