body{
    font-family: Tahoma;
    color: #444;
    letter-spacing: 1px;
}

h1, h2{
    font-weight: normal;
}
h2{
    text-align: center;
}
h4{
    display: inline;

}

#wrapper{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid lightgray;
}

#page-banner{
    background: darkred;
    padding: 20px;
    color: white;
    display: flex;

}

#page-banner h1, #page-banner p{
    margin: 10px 0;
}
#page-banner h1{
    text-transform: uppercase;
}
#page-banner input{
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
}
#banner-wrapper{
    width: 70%;
}

#gifts-list, #add-gift, #tabbed-content{
    margin: 30px;
}

#gifts-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#gifts-list li{
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
}

#gifts-list li:hover{
    border-color:darkgreen;
}
.price{
    background:darkgreen;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.delete{
    float: right;
    background: darkred;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.delete:hover{
    background: #333;
}



#add-gift{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#add-gift input{
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    width: 300px;
    float: left;
}

#add-gift button{
    border: 1px solid darkred;
    background: darkred;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 100px;
    float: left;
    margin: 20px 0;
    border-left: 0;
    color: white;
}

#add-gift:after{
    content: '';
    display: block;
    clear: both;
}

#add-gift #hide{
    width: 30px;
}

#add-gift label{
    line-height: 52px;
}

#add-gilft-field{
    display: inline;
}

#tabbed-content li{
    display: inline-block;
    padding: 10px 14px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
#tabbed-content .panel{
    display: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
}
#tabbed-content .panel.active{
    display: block;
}

.name::after{
    content: ' ';
}

.price-value::after{
    content: ' €'
}

#divTotal{
    display: inline;
}
#total::after, #totalBudget::after{
    content: ' €';

}

.col{
    width: 40%;
    display: inline-grid;

}
.row{
    display: flex;
}